.container {
  width: 800px;
  margin: 0 auto;
}

div {
  background-color: brown;
  border-radius: 5px;
  opacity: .8;
}

h1 {
  text-align: center;
  text-decoration: underline;
  margin: 0 auto;
  padding: 50px;
  font-family: monospace;
  color: black;
}

h2 {
  font-family: monospace;
  text-align: center;
  font-size: 25px;
  padding-bottom: 25px;
}

ul {
  padding-left: 320px;
  list-style: none;
  font-family: monospace;
}

li {
  font-size: 15px;
  padding-bottom: 15px;
}
body {
  background-color: white;
  background-image: url("http://previews.123rf.com/images/aleishaknight/aleishaknight1103/aleishaknight110300022/9099664-Background-of-Premium-Peaberry-Kona-Coffee-Beans-Stock-Photo-bean.jpg");
}

p {
  font-family: monospace;
  color: black;
  padding: 20px;
}

span {
  font-size: 20px;
  color: blue;
  outline: none;
}


img {
  height: 300px;
  width: 300px;
  display: block;
  margin: 0 auto;
}
